# Requirements equivalent to those specified in environment.yml

# Python version
# python=3.12

# Conda packages translated to pip
matplotlib
numpy
ipykernel
ipywidgets
seaborn

# Packages originally under pip
pettingzoo
gymnasium